body{
    background-color:
    
    pink;
    text-align:center;}
h1 {
    color: rgb(230, 97, 207);
    font-family: Arial;
    font-size:50px;
    text-align:center;
}
 h2 {
        color: rgb(228, 69, 154);
        font-family: Arial;
        font-size:40px;
        text-align:center;
    }
    h3 {
        color: rgb(214, 91, 157);
        font-family: Arial;
        font-size:30px;
        text-align:center;
    }
    p {
        color: rgb(211, 106, 171);
        font-size: 27px;
        
        }
    li {  
        color:rgb(247, 158, 213);
        font-family: Arial;
        font-size:30px;
        text-align:center;
    }
       h1{
        padding: 10px;
            border: 5px solid rgb(216, 141, 172);
            margin: 50px;
            box-sizing: border-box;
            box-align:center;
            background-color:
    
            rgb(247, 158, 213);
        }
        
        img{
            height: 200px;
            width: 200px;
       }


       body {
        background: pink;
     }
     article {
         position: relative;
         overflow: hidden;
         padding: 20px;
         background: rgb(252, 205, 213);
         margin: 50px auto;
         width: 70%;
         border: 2px solid #FFA800;
         border-radius: 10px;
         box-shadow: 0 0 4px #FFA800;
         color: #FFA800;
         text-align: center;
     }
     
     #mapa {
         height: 400px;
         padding: 0;
         margin-bottom: 20px;
     }
     
     #parar {
         display: block;
         margin: 20px auto 30px;
         width: 100px;
         border: 2px solid #FFA800;
         border-radius: 10px;
         box-shadow: 0 0 4px #FFA800;
         color: #FFA800;
     }
     
     #parar:hover {
         border: 2px solid #2E5E90;
         box-shadow: 0 0 4px #2E5E90;
         color: #2E5E90;
     }